.form-layout
{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    min-width: 320px;
}

.full-width
{
    width: 100%;
    margin-bottom: 5px;
}

mat-dialog-actions
{
    padding-bottom: 20px !important;
}
.form-layout
{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    min-width: 450px;
}

.form-row
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.full-width
{
    width: 100%;
}