<h2 mat-dialog-title>{{ isEditMode ? 'Edit User' : 'Add New User' }}</h2>

<mat-dialog-content>
    <form [formGroup]="userForm" class="form-layout">

        <div class="form-row">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" placeholder="Jecem">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" placeholder="Developer">
            </mat-form-field>
        </div>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width" *ngIf="!isEditMode">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password">
        </mat-form-field>

        <div class="form-row">
            <mat-form-field appearance="outline">
                <mat-label>Role</mat-label>
                <mat-select formControlName="role">
                    <mat-option value="ADMIN">ADMIN</mat-option>
                    <mat-option value="EMPLOYEE">EMPLOYEE</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Department / Category</mat-label>
                <mat-select formControlName="categoryId">
                    <mat-option *ngFor="let cat of categories" [value]="cat.id">
                        {{ cat.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Cancel</button>
    <app-button [label]="isEditMode ? 'Save Changes' : 'Create User'" [disabled]="userForm.invalid"
        (btnClick)="onSubmit()">
    </app-button>
</mat-dialog-actions>